<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome</h1>


    <h1>Login Form</h1>
    <form th:action="@{/login}" th:object="${loginForm}" method="post">
        <p th:if="${invalidCredentials}" class="error">Username or Password is Wrong!</p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" autofocus="autofocus"/>

        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>
        <br/>

        <input type="submit" value="Log In"/>
    </form>
</body>
</html>