<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
<title>Login Page</title>
</head>

<body>

<!-- Create navigation bar -->
<nav class="navbar fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Todo List</a>
  </div>
</nav>

<br>
<br>

<div class = "container">
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">

      <h1> User Login Page </h1>

      <form th:action="@{/login}" method="post" >

        <!-- error message -->
        <div th:if="${param.error}" class="alert alert-danger">
          Invalid username or password.
        </div>

        <!-- logout message -->
        <div th:if="${param.logout}" class="alert alert-info">
          You have been logged out.
        </div>

        <div class = "form-group">
          <label for ="username"> Username </label> :
          <input type="text"
                 class="form-control"
                 id="username"
                 name="username"
                 placeholder="Enter Email"
                 autofocus="autofocus">
        </div>
        <br>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
                 class="form-control"
                 id="password"
                 name="password"
                 placeholder="Enter Password"/>
        </div>
        <br>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <a href="tasklist.html">
              <input
                      type="submit"
                      name="login-submit"
                      id="login-submit"
                      class="form-control btn btn-primary"
                      value="Log in">
              </a>
            </div>
          </div>
        </div>
      </form>
      <br>
      <div class="form-group">
        <span>New User ? <a href="/" th:href="@{/registration}">Register</a> </span>
      </div>

    </div>
  </div>
</div>
</body>
</html>