<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="ISO-8859-1">
  <title>Registration</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
</head>
<body>

<!-- Create navigation bar -->
  <nav class="navbar fixed-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Todo List</a>
    </div>
  </nav>

  <br>
  <br>
<!-- Create HTML registration form -->
  <div class="container">
    <div class="row">
     <div class="col-md-6 col-md-offset-3">

      <!-- success message -->
        <div th:if="${param.success}">
          <div class="alert alert-info">You've successfully registered to todo app!</div>
        </div>

       <h1>Registration</h1>

      <form th:action="@{/registration}" method="post" th:object="${user}">
        <div class="form-group">
          <label class="control-label" for="firstName"> First Name </label>
          <input
                id="firstName"
                class="form-control"
                th:field="*{firstName}"
                required autofocus="autofocus"/>
        </div>

        <div class="form-group">
          <label class="control-label" for="lastName"> Last Name </label>
          <input
                  id="lastName"
                  class="form-control"
                  th:field="*{lastName}"
                  required autofocus="autofocus"/>
        </div>

        <div class="form-group">
          <label class="control-label" for="email"> Email </label>
          <input
                  id="email"
                  class="form-control"
                  th:field="*{email}"
                  required autofocus="autofocus" />
        </div>

        <div class="form-group">
          <label class="control-label" for="password"> Password </label>
          <input
                  id="password"
                  class="form-control"
                  type="password"
                  th:field="*{password}"
                  required autofocus="autofocus" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success">Register</button>
          <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
        </div>
      </form>
       
     </div>
  </div>
</div>
</body>
</html>