<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>TodoList</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
</head>
<body>

<!-- Create navigation bar -->
<nav class="navbar fixed-top bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Todo List</a>
    </div>
</nav>

<br>
<br>


    <h1>********************</h1>
    <h1>To Do List Düzenlenecek</h1>
    <h1>********************</h1>
</body>
</html>