<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>TodoList</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
</head>
<body>

<!-- Create navigation bar -->
<nav class="navbar fixed-top bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Todo List</a>
    </div>
</nav>

<br>
<br>

<div class="container">
    <div class="row">
        <h1>Todo-List</h1>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Actions</th>
            <th>Id</th>
            <th>Description</th>
            <th>Complete</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="tasklist : ${tasklist}" th:class="${task.complete} ? success : warning">
            <td>
                <div class="btn btn-group-sm" role="group">
                    <a class="btn btn-info" th:href="@{/edit/{id}(id=${tasklist.id})}">Edit</a>
                    <a class="btn btn-danger" th:href="@{/delete/{id}(id=${tasklist.id})}">Delete</a>
                </div>
            </td>
            <td th:text="${tasklist.id}">1</td>
            <td th:text="${tasklist.description}">Finish the assesment</td>
            <td th:text="${tasklist.complete}">true</td>

        </tr>
        </tbody>
    </table>
</div>

</div>


    <h1>********************</h1>
    <h1>To Do List Duzenlenecek</h1>
    <h1>********************</h1>
</body>
</html>